<header class="topcoat-navigation-bar">
    <h1 class="topcoat-navigation-bar__item app-logo"><img src="img/header-logo.png"/></h1>
</header>
<div class="topcoat-tab-bar full" id="submenu" ng-hide="hideSubmenu">
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat" ng-checked="corunSubmenu == '/'">
     <a ng-href="#/" class="topcoat-tab-bar__button full"><img src="img/icon-home.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat" ng-checked="corunSubmenu == '/profile'">
     <a ng-href="#/profile" class="topcoat-tab-bar__button full"><img src="img/icon-profile.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat" ng-checked="corunSubmenu == '/run'">
     <a ng-href="#/run" class="topcoat-tab-bar__button full"><img src="img/icon-run.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat" ng-checked="corunSubmenu == '/network'">
     <a class="topcoat-tab-bar__button full"><img src="img/icon-network.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat" ng-checked="corunSubmenu == '/settings'">
     <a ng-href="#/settings" class="topcoat-tab-bar__button full"><img src="img/icon-settings.png"/></a>
   </label>
</div>


