<header class="topcoat-navigation-bar">
	<h1 class="topcoat-navigation-bar__item app-logo"><img src="img/header-logo.png"/></h1>
</header>
<div class="topcoat-tab-bar full" id="submenu">
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat">
     <a ng-href="#/" class="topcoat-tab-bar__button full"><img src="img/icon-home.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat">
     <a class="topcoat-tab-bar__button full"><img src="img/icon-profile.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat" checked="CHECKED">
     <a ng-href="#/run" class="topcoat-tab-bar__button full"><img src="img/icon-run.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat">
     <a class="topcoat-tab-bar__button full"><img src="img/icon-network.png"/></a>
   </label>
   <label class="topcoat-tab-bar__item">
     <input type="radio" name="topcoat">
     <a ng-href="#/settings" class="topcoat-tab-bar__button full"><img src="img/icon-settings.png"/></a>
   </label>
</div>
<div class="topcoat-tab-bar full" id="readymenu">
  <span>On your mark</span>
</div>



<div id="map"></div>
