/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

/* Topcoat custom */
.topcoat-button--cta,
.topcoat-text-input, .topcoat-text-input {
    width:inherit;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.topcoat-text-input, .topcoat-text-input {
    font-family:'Proxima Nova Soft W03 Reg';


}
.topcoat-button--cta {
    box-shadow: inset 0 1px rgba(255,255,255,0.2);
    font-family:'Proxima Nova Soft W03 Medium';

}

/* Gradients */
.corun-red {
    background: #ee4036; /* Old browsers */
    background: -moz-linear-gradient(top, #ee4036 0%, #c3342c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee4036), color-stop(100%,#c3342c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ee4036 0%,#c3342c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ee4036 0%,#c3342c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ee4036 0%,#c3342c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ee4036 0%,#c3342c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4036', endColorstr='#c3342c',GradientType=0 ); /* IE6-9 */
    border:0;
}
.corun-mint {
    background: #3dbb7e; /* Old browsers */
    background: -moz-linear-gradient(top, #3dbb7e 0%, #2a8257 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3dbb7e), color-stop(100%,#2a8257)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3dbb7e 0%,#2a8257 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3dbb7e 0%,#2a8257 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3dbb7e 0%,#2a8257 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3dbb7e 0%,#2a8257 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dbb7e', endColorstr='#2a8257',GradientType=0 ); /* IE6-9 */
    border:0;
}
.corun-grey {
    background: #747474; /* Old browsers */
background: -moz-linear-gradient(top, #747474 0%, #626262 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747474), color-stop(100%,#626262)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #747474 0%,#626262 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #747474 0%,#626262 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #747474 0%,#626262 100%); /* IE10+ */
background: linear-gradient(to bottom, #747474 0%,#626262 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#626262',GradientType=0 ); /* IE6-9 */
border:0;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.copyright {
    display:block;
    margin-top:20px;
    text-align:center;
    color:#FFF;
    font-size:16px;
    font-family:Arial,Helvetica,sans-serif;
}
.bg {
    height:100%;
    width:100%;
    margin:0 auto;
    padding:0;
    position:absolute;
    z-index:-9999;

}
.bg img {
    width:100%;
    height:100%;
    z-index:0;
}
.logo {
    width:75%;
    max-width:500px;
    height:auto;
    margin:0 auto;
    padding-top:15%;
    display:block;
}
.login-container {
    background:rgba(0,0,0,0.5);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width:580px;
    padding:20px;
    margin:20px 0 0 0;
    height:auto;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.9);
}
.form-element {
    width:100%;
    margin:0 0 10px 0;
    display:block;
}
.form-elememt-split {
    margin:10px 0 0 0;
    width:48%;
}
.left {
    float:left;
}
.right {
    float:right;
}
.form-elememt-split .topcoat-button--cta {
    width:100%;
    margin:0;
    border:0;
}
/* Portrait layout (default) */
.container {
    height:100%;
}
.app {
    z-index:1;
    max-width:640px;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    margin:0 auto;
    padding:0 10px;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
    height:100px;
}

#map {
    width:100%;
    height:100%;
    background-color:#F2F2F2;
}

/* CSS3 */
.fade-out {
    -webkit-animation: fadeout 0.25s; /* Safari and Chrome */
            animation: fadeout 0.25s;

    opacity:0!important;
    display:none!important;
}

.fade-in {
    -webkit-animation: fadein 0.25s; /* Safari and Chrome */
            animation: fadein 0.25s;

    opacity:1!important;
    display:block!important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* App */
#readymenu {
    opacity:0;
    display:none;
    height:46px;
}
#readymenu span {
    color:#FFF;
    font-weight:bold;
    display:block;
    margin:0 auto;
    padding-top:15px;
    text-align:center;
}
.topcoat-tab-bar {
    background: #111111; /* Old browsers */
    background: -moz-linear-gradient(top, #111111 0%, #1a1a1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #111111 0%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #111111 0%,#1a1a1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #111111 0%,#1a1a1a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #111111 0%,#1a1a1a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
}
.topcoat-tab-bar__button {  
    -webkit-tap-highlight-color:#FFF;
    box-shadow:inherit;
    height: 2.895rem;
    line-height: 2.895rem;
    border:0;
    border-bottom:3px solid #111;
    background: #1a1a1a; /* Old browsers */
background: -moz-linear-gradient(top, #1a1a1a 0%, #111111 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#111111)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1a1a1a 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1a1a1a 0%,#111111 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1a1a1a 0%,#111111 100%); /* IE10+ */
background: linear-gradient(to bottom, #1a1a1a 0%,#111111 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
}
:checked + .topcoat-tab-bar__button,
.topcoat-tab-bar__button:active,
.topcoat-tab-bar__button.is-active {
  color: #0083e8;
  background: #111111; /* Old browsers */
background: -moz-linear-gradient(top, #111111 0%, #1a1a1a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #111111 0%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #111111 0%,#1a1a1a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #111111 0%,#1a1a1a 100%); /* IE10+ */
background: linear-gradient(to bottom, #111111 0%,#1a1a1a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
  border-bottom:3px solid #c3561a;
  -webkit-box-shadow: inherit;
  box-shadow: inset inherit;
}
.topcoat-tab-bar__button img {
    display:block;
    height:47%;
    margin:12px auto 0 auto;

}
.topcoat-navigation-bar {
    box-shadow:inherit;
    height:3.375rem;
    background: #f96c1e; /* Old browsers */
background: -moz-linear-gradient(top, #f96c1e 0%, #c3561a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f96c1e), color-stop(100%,#c3561a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f96c1e 0%,#c3561a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f96c1e 0%,#c3561a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f96c1e 0%,#c3561a 100%); /* IE10+ */
background: linear-gradient(to bottom, #f96c1e 0%,#c3561a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96c1e', endColorstr='#c3561a',GradientType=0 ); /* IE6-9 */

}
header .app-logo {
    display:block;
    margin:1px auto 0 auto;
}
header .app-logo img {
    height:28px;
    width:auto;
}